.context{
    padding: 3rem;
    background-color: #212529;
    color: white;
}
.contexth{
    text-align: center;
    padding-bottom: 1rem;
}
.contextp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}
.s1{
    display: flex;
    justify-content: space-around;
    background-color:#212529 ;
}
.card{
    margin: 2rem;
    transition: all 2s ease 0s;
}
.form1{
    padding: 2rem;

}
.but{
    margin-top: 2rem;
}
.card:hover{
    transform: scale(1.1);
    transition:all 2s ease 0s;
}
.footer{
    margin-top: 0;
    background-color:#212529  ;
}
.footer h5{
    color: white;
}
body{
    overflow-x: hidden;
}
.progress{
    margin : 1rem 0rem 2rem 0;
    
    width: 100%;
   display: flex;
justify-content: center;
}
.prog{
    margin: 0rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.prog h1{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.prog h3{
 display: flex;
 justify-content: center;
}
.imga{
   position: relative;
   left: 45%;
   margin: 1rem;
}